body {
  color: $color-dark;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, .h1 {
  font-family: $fontFamily-serif;
  font-size: $fontSize-xxxlarge;
  line-height: 1.5;

  @include breakpoint( 'tablet' ) { font-size: $fontSize-xxlarge; }
}

h2, .h2 {
  font-family: $fontFamily-serif;
  font-size: $fontSize-xxlarge;
  line-height: 1.2;

  @include breakpoint( 'mobile' ) { font-size: $fontSize-xlarge; }
}

h3, .h3 {
  font-family: $fontFamily-serif;
  font-size: $fontSize-xlarge;
  line-height: 1.33;
}

h4, .h4 {
  font-family: $fontFamily-serif;
  font-size: $fontSize-large;
  line-height: 1.2;
}

h5, .h5 {
  font-family: $fontFamily-sans;
  font-size: $fontSize-base;
  font-weight: 600;
  line-height: 1.2;
}

h6, .h6 {
  font-family: $fontFamily-sans;
  font-size: $fontSize-small;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
}

p, li, a, label {
  font-family: $fontFamily-sans;
  font-size: $fontSize-base;
  line-height: 1.5; }

a, .a {
  color: $color-primary;
  cursor: pointer;
  text-decoration: none;

  &:hover { opacity: 0.5; }
}

input, textarea, button {
  font-family: $fontFamily-sans;
  font-size: $fontSize-base;
  padding: 12px $scale-2-1;
  border: none;
  background-color: white;
  border-radius: $borderRadius / 2;
  line-height: 1.5;

  &::-webkit-input-placeholder { color: $color-base-lighter-1; font-size: $fontSize-small; } /* Chrome/Opera/Safari */
  &::-moz-placeholder { color: $color-base-lighter-1; font-size: $fontSize-small; } /* Firefox 19+ */
  &:-ms-input-placeholder { color: $color-base-lighter-1; font-size: $fontSize-small; }  /* IE 10+ */
  &:-moz-placeholder { color: $color-base-lighter-1; font-size: $fontSize-small; } /* Firefox 18- */
}

textarea:focus,
input:focus {
  transition: all 300ms $animationBezier;
  outline: none;
}

input {
  &.withButton {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none; }}

button {
  padding: $scale $scale-2-1;
  color: $color-light;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 500;
  border-radius: $borderRadius / 2;
  transition: all 300ms $animationBezier;

  &:hover { opacity: 0.9; }

  &.withInput { border-top-left-radius: 0; border-bottom-left-radius: 0; border: 1px solid $color-primary; }
  &.submit {
    background-color: $color-primary;

    &.disabled {
      background-color: $color-base-lighter-5;
      color: $color-base-lighter-3;
      pointer-events: none;
    }
  }

  &.toggle {
    background-color: transparent;
    border: 1px solid $color-base-lighter-4;
    padding: 0 $scale-1-2;
    color: $color-base-lighter-2;
    font-size: $fontSize-xxsmall;
    font-weight: 400;
    text-transform: none;
    height: 20px;
    line-height: 12px;
    overflow: hidden;
    border-radius: $borderRadius / 4;

    &:hover {
      color: $color-primary;
      border-color: $color-primary-lighter-2;
    }

    &.active {
      background-color: $color-primary-lighter-6;
      border-color: $color-primary-lighter-4;
      color: $color-primary-lighter-1;

      @keyframes fadeAndSlideEmojiIn {
    	  0% 		{ opacity: 0; transform: translateX(-10px); }
    	  100% 	{ opacity: 1; transform: translateX(0vw); }
      }

      & .emoji {
        display: inline-block;
        opacity: 0;
        transform: translateX(-10px);
        animation: fadeAndSlideEmojiIn 300ms $animationBezier forwards;
      }

      &:hover { border-color: $color-primary-lighter-2; }
    }
  }

}

input:focus,
input:active,
button:focus,
button:active {
	outline: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $color-base-lighter-4;
  margin: 0;
  padding: 0;
}
