/* ----- Scale ----- */

$scale: 8px;

$scale-13-1: $scale * 13;
$scale-12-1: $scale * 12;
$scale-11-1: $scale * 11;
$scale-10-1: $scale * 10;
$scale-9-1: $scale * 9;
$scale-8-1: $scale * 8;
$scale-7-1: $scale * 7;
$scale-6-1: $scale * 6;
$scale-5-1: $scale * 5;
$scale-4-1: $scale * 4;
$scale-3-1: $scale * 3;
$scale-2-1: $scale * 2;

$scale-1-2: $scale / 2;
$scale-1-3: $scale / 3;
$scale-1-4: $scale / 4;
$scale-1-5: $scale / 5;
$scale-1-6: $scale / 6;
$scale-1-7: $scale / 7;
$scale-1-8: $scale / 8;

/* ----- Colors ----- */

// ----- Primary
$color-primary: #2962FF;

$color-primary-lighter-6: mix(white, $color-primary, 98% );
$color-primary-lighter-5: mix(white, $color-primary, 88% );
$color-primary-lighter-4: mix(white, $color-primary, 70% );
$color-primary-lighter-3: mix(white, $color-primary, 50% );
$color-primary-lighter-2: mix(white, $color-primary, 30% );
$color-primary-lighter-1: mix(white, $color-primary, 15% );

$color-primary-darker-1: mix(black, $color-primary, 11% );
$color-primary-darker-2: mix(black, $color-primary, 28% );
$color-primary-darker-3: mix(black, $color-primary, 43% );
$color-primary-darker-4: mix(black, $color-primary, 59% );

// ----- Base
$color-base: #607d8b;

$color-base-lighter-8: mix(white, $color-base, 98% );
$color-base-lighter-7: mix(white, $color-base, 94% );
$color-base-lighter-6: mix(white, $color-base, 88% );
$color-base-lighter-5: mix(white, $color-base, 80% );
$color-base-lighter-4: mix(white, $color-base, 70% );
$color-base-lighter-3: mix(white, $color-base, 50% );
$color-base-lighter-2: mix(white, $color-base, 30% );
$color-base-lighter-1: mix(white, $color-base, 15% );

$color-base-darker-1: mix(black, $color-base, 11% );
$color-base-darker-2: mix(black, $color-base, 28% );
$color-base-darker-3: mix(black, $color-base, 43% );
$color-base-darker-4: mix(black, $color-base, 59% );

// ----- Shortcuts
$color-light: $color-base-lighter-6;
$color-dark: $color-base-darker-4;


/* ----- Font-family ----- */

$fontFamily-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$fontFamily-serif: 'Copernicus', serif;

$fontFamily-logo: 'Avenir', Helvetica, Arial, Verdana, sans-serif;
$fontFamily-display: 'Avenir', Helvetica, Arial, Verdana, sans-serif;
$fontFamily-headline: 'EB Garamond 08','Avenir', Helvetica, Arial, Verdana, sans-serif;
$fontFamily-system: 'Avenir', Helvetica, Arial, Verdana, sans-serif;
$fontFamily-body: 'Avenir', Helvetica, Arial, Verdana, sans-serif;

/* ----- Font-size ----- */

$fontSize-display: 140px;
$fontSize-display-tablet: 80px;
$fontSize-display-mobile: 60px;

$fontSize-title: 36px;
$fontSize-subtitle: 28px;
$fontSize-body-copy: 18px;

$fontSize-xxxlarge: 36px;
$fontSize-xxlarge: 24px;
$fontSize-xlarge: 18px;
$fontSize-large: 16px;
$fontSize-base: 14px;
$fontSize-small: 12px;
$fontSize-xsmall: 11px;
$fontSize-xxsmall: 10px;

/* ----- Line-height ----- */

$lineHeight: 1.5;

/* ----- Layout ----- */

$contentWidth-tablet: 100%;
$contentWidth-desktop: 720px; // 48px up to 768px
$contentWidth-widescreen: 976px; // 48px up to 1024px
$contentWidth-extraWidescreen: 1152px; // 48px up tp 1200px

/* ----- Border-radius ----- */

$borderRadius: 8px;

/* ----- Shadows ----- */

$shadow-1: 0px 1px 2px 0px rgba(0,0,0,0.16);
$shadow-2: 0px 3px 6px 0px rgba(0,0,0,0.16);
$shadow-3: 0px 4px 10px 0px rgba(0,0,0,0.12);

/* ----- Animation ----- */

$animationBezier: cubic-bezier(0.1, 0.95, 0.65, 1);
$animationBezier-easeOut-extreme: cubic-bezier(0, 0.8, 0.05, 0.95);
$animationSpeed: 200ms;
