@import '~styles/vars';
@import '~styles/breakpoints';
@import '~styles/helpers';

h1, h2, h3, h4, h5, h6 {
  font-family: $fontFamily-headline;
  color: $color-brandDark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  font-family: $fontFamily-logo;
  letter-spacing: 1px;
  line-height: 1.4; }

h5,
h6 {
  font-family: $fontFamily-system;
  font-weight: 600; }

h1 {
  font-size: $fontSize-title;
  letter-spacing: 2px;
  line-height: 1.2;

  @include breakpoint( 'tablet' ) { font-size: $fontSize-xxlarge; }
  @include breakpoint( 'mobileMedium' ) { font-size: $fontSize-xlarge; }}

h2 {
  font-size: $fontSize-xxlarge;
  @include breakpoint( 'mobile' ) { font-size: $fontSize-xlarge; }}
h3 { font-size: $fontSize-xlarge; }
h4 { font-size: $fontSize-large; }
h5 { font-size: $fontSize-base; }
h6 { font-size: $fontSize-small; }

p {
  font-family: $fontFamily-body;
  font-size: $fontSize-base;
  line-height: 1.4;
  letter-spacing: 0.2px; }

input {
  padding: $scale-1-2;
  border: none;

  &::-webkit-input-placeholder { color: $color-brandLight; } /* Chrome/Opera/Safari */
  &::-moz-placeholder { color: $color-brandLight; } /* Firefox 19+ */
  &:-ms-input-placeholder { color: $color-brandLight; }  /* IE 10+ */
  &:-moz-placeholder { color: $color-brandLight; } /* Firefox 18- */
}

input:focus,
input:active {
	outline: none;
}
