@import '~styles/fonts';
@import '~styles/reset';
@import '~styles/vars';
@import '~styles/grid';
@import '~styles/breakpoints';
@import '~styles/animations';

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: $color-brandDark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Headings font family
h1,
h2,
h3,
h4 { font-family: $fontFamily-serif; }
h5,
h6 { font-family: $fontFamily-sans; }

// Headings line height
h1 { line-height: 1.5; }
h2 { line-height: 1.2; }
h3 { line-height: 1.33; }
h4,
h5,
h6 { line-height: 1.2; }

// Headings font size
h1 { font-size: $fontSize-xxxlarge;

  @include breakpoint( 'tablet' ) { font-size: $fontSize-xxlarge; }
  @include breakpoint( 'mobileMedium' ) { font-size: $fontSize-xlarge; }}
h2 { font-size: $fontSize-xxlarge;
  @include breakpoint( 'mobile' ) { font-size: $fontSize-xlarge; }}
h3 { font-size: $fontSize-xlarge; }
h4 { font-size: $fontSize-large; }
h5 { font-size: $fontSize-base; }
h6 { font-size: $fontSize-small; text-transform: uppercase;}

p, li, a {
  font-family: $fontFamily-sans;
  font-size: $fontSize-base;
  line-height: 1.5; }

a {
  color: $color-brandFirst;
  cursor: pointer;

  &:hover { opacity: 0.5; }
}

input, button {
  font-family: $fontFamily-sans;
  font-size: $fontSize-base;
  padding: $scale-1-2;
  border: none;
  background-color: $color-brandLight;
  border-radius: $borderRadius / 2;


  &::-webkit-input-placeholder { color: $color-brandLight-darker-3; } /* Chrome/Opera/Safari */
  &::-moz-placeholder { color: $color-brandLight-darker-3; } /* Firefox 19+ */
  &:-ms-input-placeholder { color: $color-brandLight-darker-3; }  /* IE 10+ */
  &:-moz-placeholder { color: $color-brandLight-darker-3; } /* Firefox 18- */
}

input:focus {
  background-color: white;
  transition: all 300ms $animationBezier;
}

button {
  padding: $scale $scale-2-1;
  color: $color-brandLight;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 500;

  &:hover { opacity: 0.9; }

  &.submit { background-color: $color-brandFirst; }
}

input:focus,
input:active,
button:focus,
button:active {
	outline: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #fff;
  margin: 0;
  padding: 0;
}

@import '~styles/helpers';
