@import '~styles/fonts';
@import '~styles/reset';
@import '~styles/vars';
@import '~styles/breakpoints';
@import '~styles/animations';

body {
  color: $color-text;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, .h1 {
  font-family: $fontFamily-serif;
  font-size: $fontSize-xxxlarge;
  line-height: 1.5;

  @include breakpoint( 'tablet' ) { font-size: $fontSize-xxlarge; }
  @include breakpoint( 'mobileMedium' ) { font-size: $fontSize-xlarge; }
}

h2, .h2 {
  font-family: $fontFamily-serif;
  font-size: $fontSize-xxlarge;
  line-height: 1.2;

  @include breakpoint( 'mobile' ) { font-size: $fontSize-xlarge; }
}

h3, .h3 {
  font-family: $fontFamily-serif;
  font-size: $fontSize-xlarge;
  line-height: 1.33;
}

h4, .h4 {
  font-family: $fontFamily-serif;
  font-size: $fontSize-large;
  line-height: 1.2;
}

h5, .h5 {
  font-family: $fontFamily-sans;
  font-size: $fontSize-base;
  font-weight: 600;
  line-height: 1.2;
}

h6, .h6 {
  font-family: $fontFamily-sans;
  font-size: $fontSize-small;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
}

p, li, a {
  font-family: $fontFamily-sans;
  font-size: $fontSize-base;
  line-height: 1.5; }

a, .a {
  color: $color-brandFirst;
  cursor: pointer;
  text-decoration: none;

  &:hover { opacity: 0.5; }
}

input, textarea, button {
  font-family: $fontFamily-sans;
  font-size: $fontSize-base;
  padding: $scale-1-2;
  border: none;
  background-color: $color-brandLight;
  border-radius: $borderRadius / 2;


  &::-webkit-input-placeholder { color: $color-brandLight-darker-3; } /* Chrome/Opera/Safari */
  &::-moz-placeholder { color: $color-brandLight-darker-3; } /* Firefox 19+ */
  &:-ms-input-placeholder { color: $color-brandLight-darker-3; }  /* IE 10+ */
  &:-moz-placeholder { color: $color-brandLight-darker-3; } /* Firefox 18- */
}

textarea:focus,
input:focus {
  background-color: white;
  transition: all 300ms $animationBezier;
  outline: none;
}

input {
  &.withButton { border-top-right-radius: 0; border-bottom-right-radius: 0; }}

button {
  padding: $scale $scale-2-1;
  color: $color-brandLight;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 500;
  border-radius: $borderRadius / 2;
  transition: all 300ms $animationBezier;

  &:hover { opacity: 0.9; }

  &.withInput { border-top-left-radius: 0; border-bottom-left-radius: 0; }
  &.submit { background-color: $color-brandFirst; }

  &.toggle {
    background-color: transparent;
    border: 1px solid $color-brandGrey-lighter-4;
    padding: 0 $scale-1-2;
    color: $color-brandGrey-lighter-2;
    font-size: $fontSize-xxsmall;
    font-weight: 400;
    text-transform: none;
    height: 20px;
    line-height: 12px;
    overflow: hidden;
    border-radius: $borderRadius / 4;

    &:hover {
      color: $color-brandFirst;
      border-color: $color-brandFirst-lighter-2;
    }

    &.active {
      background-color: $color-brandFirst-lighter-6;
      border-color: $color-brandFirst-lighter-4;
      color: $color-brandFirst-lighter-1;

      @keyframes fadeAndSlideEmojiIn {
    	  0% 		{ opacity: 0; transform: translateX(-10px); }
    	  100% 	{ opacity: 1; transform: translateX(0vw); }
      }

      & .emoji {
        display: inline-block;
        opacity: 0;
        transform: translateX(-10px);
        animation: fadeAndSlideEmojiIn 300ms $animationBezier forwards;
      }

      &:hover { border-color: $color-brandFirst-lighter-2; }
    }
  }

}

input:focus,
input:active,
button:focus,
button:active {
	outline: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $color-brandLight-darker-1;
  margin: 0;
  padding: 0;
}

@import '~styles/helpers';
