/* ----- Scale ----- */

$scale: 8px;

$scale-12-1: $scale * 12;
$scale-11-1: $scale * 11;
$scale-10-1: $scale * 10;
$scale-9-1: $scale * 9;
$scale-8-1: $scale * 8;
$scale-7-1: $scale * 7;
$scale-6-1: $scale * 6;
$scale-5-1: $scale * 5;
$scale-4-1: $scale * 4;
$scale-3-1: $scale * 3;
$scale-2-1: $scale * 2;

$scale-1-2: $scale / 2;
$scale-1-3: $scale / 3;
$scale-1-4: $scale / 4;
$scale-1-5: $scale / 5;
$scale-1-6: $scale / 6;
$scale-1-7: $scale / 7;
$scale-1-8: $scale / 8;

/* ----- Colors ----- */

// ----- First
$color-brandFirst: #2962FF;

$color-brandFirst-lighter-6: mix(white, $color-brandFirst, 98% );
$color-brandFirst-lighter-5: mix(white, $color-brandFirst, 88% );
$color-brandFirst-lighter-4: mix(white, $color-brandFirst, 70% );
$color-brandFirst-lighter-3: mix(white, $color-brandFirst, 50% );
$color-brandFirst-lighter-2: mix(white, $color-brandFirst, 30% );
$color-brandFirst-lighter-1: mix(white, $color-brandFirst, 15% );

$color-brandFirst-darker-1: mix(black, $color-brandFirst, 11% );
$color-brandFirst-darker-2: mix(black, $color-brandFirst, 28% );
$color-brandFirst-darker-3: mix(black, $color-brandFirst, 43% );
$color-brandFirst-darker-4: mix(black, $color-brandFirst, 59% );

// ----- Second
$color-brandSecond: #FF9E96;

$color-brandSecond-darker-3: darken( $color-brandSecond, 30% );
$color-brandSecond-darker-2: darken( $color-brandSecond, 20% );
$color-brandSecond-darker-1: darken( $color-brandSecond, 10% );

$color-brandSecond-lighter-1: lighten( $color-brandSecond, 10% );
$color-brandSecond-lighter-2: lighten( $color-brandSecond, 20% );
$color-brandSecond-lighter-3: lighten( $color-brandSecond, 30% );

// ----- Grey
$color-brandGrey: #607d8b;

$color-brandGrey-lighter-7: mix(white, $color-brandGrey, 98% );
$color-brandGrey-lighter-6: mix(white, $color-brandGrey, 88% );
$color-brandGrey-lighter-5: mix(white, $color-brandGrey, 80% );
$color-brandGrey-lighter-4: mix(white, $color-brandGrey, 70% );
$color-brandGrey-lighter-3: mix(white, $color-brandGrey, 50% );
$color-brandGrey-lighter-2: mix(white, $color-brandGrey, 30% );
$color-brandGrey-lighter-1: mix(white, $color-brandGrey, 15% );

$color-brandGrey-darker-1: mix(black, $color-brandGrey, 11% );
$color-brandGrey-darker-2: mix(black, $color-brandGrey, 28% );
$color-brandGrey-darker-3: mix(black, $color-brandGrey, 43% );
$color-brandGrey-darker-4: mix(black, $color-brandGrey, 59% );

// ----- Dark
$color-brandDark: #273339;

$color-brandDark-darker-3: darken( $color-brandDark, 30% );
$color-brandDark-darker-2: darken( $color-brandDark, 20% );
$color-brandDark-darker-1: darken( $color-brandDark, 10% );

$color-brandDark-lighter-1: lighten( $color-brandDark, 10% );
$color-brandDark-lighter-2: lighten( $color-brandDark, 20% );
$color-brandDark-lighter-3: lighten( $color-brandDark, 30% );

// ----- Light
$color-brandLight: #ebeff0;

$color-brandLight-lighter-6: mix(white, $color-brandLight, 98% );
$color-brandLight-lighter-5: mix(white, $color-brandLight, 88% );
$color-brandLight-lighter-4: mix(white, $color-brandLight, 70% );
$color-brandLight-lighter-3: mix(white, $color-brandLight, 50% );
$color-brandLight-lighter-2: mix(white, $color-brandLight, 30% );
$color-brandLight-lighter-1: mix(white, $color-brandLight, 15% );

$color-brandLight-darker-1: mix(black, $color-brandLight, 11% );
$color-brandLight-darker-2: mix(black, $color-brandLight, 28% );
$color-brandLight-darker-3: mix(black, $color-brandLight, 43% );
$color-brandLight-darker-4: mix(black, $color-brandLight, 59% );

// ----- Text
$color-text: $color-brandGrey-darker-4;

// ----- Success
$color-success-text: #3c763d;
$color-success-bg: #dff0d8;

/* ----- Font-family ----- */

$fontFamily-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$fontFamily-serif: 'Copernicus', serif;

$fontFamily-logo: 'Avenir', Helvetica, Arial, Verdana, sans-serif;
$fontFamily-display: 'Avenir', Helvetica, Arial, Verdana, sans-serif;
$fontFamily-headline: 'EB Garamond 08','Avenir', Helvetica, Arial, Verdana, sans-serif;
$fontFamily-system: 'Avenir', Helvetica, Arial, Verdana, sans-serif;
$fontFamily-body: 'Avenir', Helvetica, Arial, Verdana, sans-serif;

/* ----- Font-size ----- */

$fontSize-display: 140px;
$fontSize-display-tablet: 80px;
$fontSize-display-mobile: 60px;

$fontSize-title: 36px;
$fontSize-subtitle: 28px;
$fontSize-body-copy: 18px;

$fontSize-xxxlarge: 36px;
$fontSize-xxlarge: 24px;
$fontSize-xlarge: 18px;
$fontSize-large: 16px;
$fontSize-base: 14px;
$fontSize-small: 12px;
$fontSize-xsmall: 11px;
$fontSize-xxsmall: 10px;

/* ----- Line-height ----- */

$lineHeight: 1.5;

/* ----- Layout ----- */

$contentWidth-tablet: 100%;
$contentWidth-desktop: 720px; // 48px up to 768px
$contentWidth-widescreen: 976px; // 48px up to 1024px
$contentWidth-extraWidescreen: 1152px; // 48px up tp 1200px

/* ----- Border-radius ----- */

$borderRadius: 8px;

/* ----- Shadows ----- */

$shadow-1: 0px 1px 2px 0px rgba(0,0,0,0.16);
$shadow-2: 0px 3px 6px 0px rgba(0,0,0,0.16);
$shadow-3: 0px 4px 10px 0px rgba(0,0,0,0.12);

/* ----- Animation ----- */

$animationBezier: cubic-bezier(0.1, 0.95, 0.65, 1);
$animationBezier-easeOut-extreme: cubic-bezier(0, 0.8, 0.05, 0.95);
$animationSpeed: 250ms;
