/* ----- Scale ----- */

$scale: 16px;

$scale-8-1: $scale * 8;
$scale-7-1: $scale * 7;
$scale-6-1: $scale * 6;
$scale-5-1: $scale * 5;
$scale-4-1: $scale * 4;
$scale-3-1: $scale * 3;
$scale-2-1: $scale * 2;

$scale-1-2: $scale / 2;
$scale-1-3: $scale / 3;
$scale-1-4: $scale / 4;
$scale-1-5: $scale / 5;
$scale-1-6: $scale / 6;
$scale-1-7: $scale / 7;
$scale-1-8: $scale / 8;

/* ----- Colors ----- */

// ----- First
$color-brandFirst: #00A7E1;

// Main darker
$color-brandFirst-darker-3: darken( $color-brandFirst, 30% );
$color-brandFirst-darker-2: darken( $color-brandFirst, 20% );
$color-brandFirst-darker-1: darken( $color-brandFirst, 10% );

// Main lighter
$color-brandFirst-lighter-1: lighten( $color-brandFirst, 10% );
$color-brandFirst-lighter-2: lighten( $color-brandFirst, 20% );
$color-brandFirst-lighter-3: lighten( $color-brandFirst, 30% );

// ----- Second
$color-brandSecond: #FF9E96;

// Complementary darker
$color-brandSecond-darker-3: darken( $color-brandSecond, 30% );
$color-brandSecond-darker-2: darken( $color-brandSecond, 20% );
$color-brandSecond-darker-1: darken( $color-brandSecond, 10% );

// Complementary lighter
$color-brandSecond-lighter-1: lighten( $color-brandSecond, 10% );
$color-brandSecond-lighter-2: lighten( $color-brandSecond, 20% );
$color-brandSecond-lighter-3: lighten( $color-brandSecond, 30% );

// ----- Dark
$color-brandDark: #111;

// Main darker
$color-brandDark-darker-3: darken( $color-brandDark, 30% );
$color-brandDark-darker-2: darken( $color-brandDark, 20% );
$color-brandDark-darker-1: darken( $color-brandDark, 10% );

// Main lighter
$color-brandDark-lighter-1: lighten( $color-brandDark, 10% );
$color-brandDark-lighter-2: lighten( $color-brandDark, 20% );
$color-brandDark-lighter-3: lighten( $color-brandDark, 30% );

// ----- Light
$color-brandLight: #eee;

// Complementary darker
$color-brandLight-darker-3: darken( $color-brandLight, 30% );
$color-brandLight-darker-2: darken( $color-brandLight, 20% );
$color-brandLight-darker-1: darken( $color-brandLight, 10% );

// Complementary lighter
$color-brandLight-lighter-1: lighten( $color-brandLight, 10% );
$color-brandLight-lighter-2: lighten( $color-brandLight, 20% );
$color-brandLight-lighter-3: lighten( $color-brandLight, 30% );

// ----- Success
$color-success-text: #3c763d;
$color-success-bg: #dff0d8;

/* ----- Font-family ----- */

$fontFamily-logo: 'Avenir', Helvetica, Arial, Verdana, sans-serif;
$fontFamily-display: 'Avenir', Helvetica, Arial, Verdana, sans-serif;
$fontFamily-headline: 'Avenir', Helvetica, Arial, Verdana, sans-serif;
$fontFamily-system: 'Avenir', Helvetica, Arial, Verdana, sans-serif;
$fontFamily-body: 'Avenir', Helvetica, Arial, Verdana, sans-serif;

/* ----- Font-size ----- */

$fontSize-display: 140px;
$fontSize-display-tablet: 80px;
$fontSize-display-mobile: 60px;

$fontSize-title: 48px;
$fontSize-subtitle: 28px;
$fontSize-body-copy: 18px;

$fontSize-xxxlarge: 60px;
$fontSize-xxlarge: 32px;
$fontSize-xlarge: 26px;
$fontSize-large: 20px;
$fontSize-base: 14px;
$fontSize-small: 12px;
$fontSize-xsmall: 11px;
$fontSize-xxsmall: 10px;

/* ----- Line-height ----- */

$lineHeight: 1.3;

/* ----- Layout ----- */

$contentWidth-tablet: 100%;
$contentWidth-desktop: 720px; // 48px up to 768px
$contentWidth-widescreen: 976px; // 48px up to 1024px
$contentWidth-extraWidescreen: 1152px; // 48px up tp 1200px

/* ----- Border-radius ----- */

$borderRadius: 2px;

/* ----- Animation ----- */

$animationBezier: cubic-bezier(0.1, 0.95, 0.65, 1);
$animationBezier-easeOut-extreme: cubic-bezier(0, 0.8, 0.05, 0.95);
$animationSpeed: 250ms;
